# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.Python
build/
# dist/: track latest *.whl only; ignore other packaging artifacts
dist/*.tar.gz
dist/*.tar.bz2
dist/*.zip
dist/*.egg
*.egg-info/
.eggs/
.venv/
venv/
.idea/
.vscode/
.DS_Store
